img {
    width: 660px;
    margin:0;
    position: relative;
    right: 40px;
}

figcaption {
    width: 628px;
    position: relative;
    bottom: 4px;
    right: 40px;
    padding: 16px;
    background-color: rgb(63, 63, 66);
    color: rgb(238, 238, 238);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: ReithSerif,Helvetica,Arial,freesans,sans-serif;
}

#first-paragraph {
    width: 580px;
    color: #3F3F42;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    font-family: ReithSerif,Helvetica,Arial,freesans,sans-serif;
}

p { 
    width: 580px;
    color: #3F3F42;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-family: ReithSerif,Helvetica,Arial,freesans,sans-serif;
}

iframe {
    width: 660px;
    margin:0;
    position: relative;
    left: 3px;
}

.video-caption {
    width: 630px;
    position: relative;
    bottom: 20px;
    left: 3px;
    padding: 16px;
    background-color: rgb(63, 63, 66);
    color: rgb(238, 238, 238);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: ReithSerif,Helvetica,Arial,freesans,sans-serif;
}

article a { 
    text-decoration: none;
    border-bottom: 1px solid rgb(186, 186, 186);
    color: #696969;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    font-family: ReithSerif, Helvetica, Arial, freesans, sans-serif;
}

a:hover {
    color: #B80000;
    border-bottom-width: 2px;
    border-bottom-color: #B80000;
}

.list-img {
    margin-top: 24px;
    border: none;
    position: relative;
    left: 40px;
}

ul {
    margin: 16px 0;
}

li {
    margin: 16px 0;
}

#last-paragraph {
    margin-bottom: 40px;
}
